@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-principal: 'Lato', sans-serif;
    --azul-1: #192F43;
    --azul-2: #17446E;
    --azul-3: #6A98C3;
    --azul-4: #A8CCED;
    --azul-5: #E0F0FF;
    --azul-6: #C1E1FF;
    --white: #fff;
}

body{
    font-family:var(--font-principal);
    background-color: var(--azul-2) ;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;	
    color: var(--white);

}
.content{
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#input,
#button{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    
    
}
#input{
    width: 13rem;
    color: black;
    transition: 0.3s;
    border-radius: 1rem;
}
input::placeholder{
    color: rgb(109, 109, 109);
    font-size: 16px;
}
#input:hover{
    background-color:rgb(241, 241, 241); 
}

#button{
    background-color: var(--azul-1);
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#button:hover{
    background-color: var(--azul-3);
}

.list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 20px;
    padding: 20px;
}

.list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--white);
}
.list li:hover{
    background-color: var(--azul-1);
    border-radius: 10px;
    padding-left: 1rem;
    transition: 0.4s;
    margin-left: 5px;
    


}

button{
    background-color: rgb(71, 255, 71);
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

button:hover{
    background-color: rgb(11, 112, 11);
}